.banner-small-img {
    height: 140px;
    position: relative;
    top: 84px;
    width: auto;
    max-width: 200px;
}
.border-radius-24 {
    border-radius: 24px;
}

.border-radius-16 {
    border-radius: 16px;
}

.banner-div {
    border-radius: 32px;
}
.margin-20 {
    margin: 20px;
}

.bgcolor-white {
    background-color: #ffffff;
}

.product-heading {
    color: #000;
}

.width-50 {
    width: 50%;
}

.m-font-femily {
    font-family: 'Poppins';
    color: #000;
}

.main-light-color {
    background-color: #084566;
}

.m-dark-color {
    columns: #080808 !important;
}

.bgmain-color {
    background-color: #013049;
}
.main-color {
    color: #013049 !important
}

.color-sub2 {
    color: #2FAc8E;
}

.bgmain-hover-color:hover {
    background-color: #FFD362;
}

.bgsubbtn-hover:hover {
    background-color: #084566;
}

.bgcolor-sub1 {
    background-color: #f4b544;
}

.card-margin-top {
    margin-top: 30px !important;
}

.card-box-shadow {
    border-radius: 24px;
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.06);
}
.plus-icon{
    position: relative;
}
.plus-icon::after{
    content: "+";
    background-color: #2FAC8E;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -38px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    z-index: 10;
}
.free-cards-wrapper{
    overflow-x: auto;
}
.free-cards-wrapper::-webkit-scrollbar{
    height: 0;
}
.free-cards-wrapper > div:first-child{
    padding-left: 0 !important;
}
.free-cards-wrapper > div:last-child{
    padding-right: 0 !important;
}
.card-heading {
    color: #080808;
}

.card-div-btn {
    display: flex;
}

.main-product-div {
    background-color: #f5f5f7;
    padding: 50px 0px 80px 0px;
}

.footer-div {
    background-color: #013049;
    padding-top: 70px;
}

.footer-sub-heading {
    color: white;
    margin-bottom: 30px;
}

.gap-zero {
    gap: 0px
}

.product-img {
    width: 160px !important ;
}

.main-process-div {
    padding: 40px 0px 18px 0px;
}

.process-p {
    align-items: center;
}


.process-des {
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 20px 0px;
}

.process-btn {
    width: 187px;
    height: 48px;
    padding: 16px 24px 16px 24px;
    border-radius: 16px;
    background-color: #013049;
    text-align: center;
}

.process-btn-div {
    margin-top: 20px;
    text-align: center;
}

.visit-heading{
    margin: 0px;
    color: #ffffff;
}

.visit-p {
    color: #ffffff;
    margin-top: 24px;
    margin-bottom: 24px;
}

.visit-store-col {
    padding: 0px;
    display: flex;
    align-items: center;
}

.visit-content {
    padding: 0px 48px;
}

.visit-store-btn {
    font-family: 'Poppins';
    padding: 16px 24px;
    border-radius: 16px;
    background-color: #f4b544;
}

.icon-btn-solid {
    font-family: 'Poppins';
    border-radius: 16px;
    background-color: #f4b544;
}

.main-visit-store {
    padding: 64px 0px;
}

.f-sub-heading:hover {
    counter-reset: white;
}

.contact-btn {
    height: 48px;
    width: 100%;
    border: 1px solid #ffffff;
    box-shadow: none;
}

.h-top-heading {
    color: #080808;
    margin: 10px 0px;
}

.refurbished-img {
    width: 25px;
    height: 33px;
}

.refurbished-card {
    border-radius: 16px;
    height: 64px;
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.06);
    align-items: center;

}

.refurbished-div {
    margin: 60px 0px 60px 0px;
}

.refurbihed-banner {
    padding: 15px 0px;
}

.banner-block {
    margin: 20px 0px;
}
.refurbished-banner-img {
    width: 128px;
    height: 178px;
}

.refurbished-b-check {
    width: 24px;
    height: 24px;
    background-color: #2FAC8E;
    border-radius: 30px;
    padding: 4px;
}

img.free-Iphone-img {
    width: calc(100% - 30px);
    height: 240px;
}
.free-iphone {
    padding: 45px 0px 45px 0px;
}

.height-img {
    height: 288px;
    align-items: center;
    justify-content: center;
}

.td-white {
    width: 180px;
    padding: 10px;
    color: #000;
}

.td-content {
    padding: 10px;
    color: #000;
}

.sub-percent {
    width: 48px;
    height: 48px;
    background-color: #2fac8e;
    border-radius: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-refurbished-card {
    align-items: center;
}

.m-single-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.rating-color {
    color: #F4B544;
    width: 18px;
    height: 18px;
}
.H-details {
    color: #013049 !important;
}

.color-block {
    margin-top: 48px;
}

.f-color {
    height: 48px;
    width: 48px;
    border-radius: 35px;
    position: relative;
}

.color-verity {
    margin-top: 10px;
    display: inline-block;
    margin-right: 24px;
}
.color-verity.active .f-color::after{
    content: '';
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    position: absolute;
    border-radius: 50%;
    border: 2px solid #080808;
    top: 50%;
    transform: translateY(-50%);
    left: -6px;
}

.color-des {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}
.color-verity.active .color-des{
    color: #080808;
    font-weight: 600;
}
.memory-block{
    margin-top: 30px;
}
.memory-btn {
    font-family: 'Poppins';
    height: 48px;
    width: 110px;
    border-radius: 16px ;
    font-size: 16px !important;
    font-weight: 600;
    line-height: 20px;
    background-color: #013049;
    box-shadow: none;
}
.memory-btn-boder {
    font-family: 'Poppins';
    height: 48px;
    width: 110px;
    border-radius: 16px;
    border: 1px solid #013049;
    font-weight: 600;
    font-size: 16px !important;
}

.row.m-condition {
    margin-top: 40px;
}

.cart-btn  {
    font-family: 'Poppins';
    width: 200px;
    height: 62px;
    padding: 16px 32px;
    background: #F4B544;
    text-align: center;
    color: #080808;
}

.notify-btn  {
    font-family: 'Poppins';
    width: 200px;
    height: 62px;
    padding: 16px 32px;
    text-align: center;
    background-color: #fff;
    border: 3px solid #013049;
    color: #080808;
}

.condition-style {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}


.breadcrumb-item+.breadcrumb-item::before {
    font-weight: 400 !important;
    font-size:  16px !important;
    line-height: 24px !important;
    float: left;
    padding-right: .5rem;
    color: #080808 !important;
    content: var(--bs-breadcrumb-divider, ">") !important;
}

.bread-crumb-notactive {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #080808;
}

.bread-crumb-isactive {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #080808;
}

.visit-store-section{
    padding: 53px 0;
}

.header-check {
    width: 22px;
    height: 20px;
    color: #013049;
} 

.menu-style {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin-left: 0 !important;
    padding: 10px 16px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}
.menu-style:hover{
    background-color: #fff;
    color: #013049;
}

.header-block {
    align-items: center;
}

.line-style {
    color: #fff;
}

.header-side-text {
    color: #013049;
    text-decoration: none;
    text-align: center;
    padding: 6px 40px !important;
}
.social-handling-section{
    padding-top: 66px;
    padding-bottom: 55px;
}
.btn-account, .btn-search, .btn-cart{
    background: transparent !important;
    position: relative;
}
.btn-cart .cart-count{
    position: absolute;
    background-color: #F4B544;
    color: #013049;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -6px;
    right: -6px;
}
.savings-section{
    padding-top: 58px;
    padding-bottom: 44px;
}
.savings-section .left-img{
    background-image: url(/accests/savings.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.savings-section .row{
    border-radius: 30px;
    overflow: hidden;
    height: 736px;
}
.text-overlay{
    width: calc(100% - 24px);
    height: 208px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    left: 12px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.single-text-overlay{
    width: calc(100% - 0px);
    height: 208px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    left: 0px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
.nav-items-wrapper{
    width: calc(100% - 300px);
}
.drop-down-links{
    width: fit-content;
    height: fit-content;
}
.slick-dots li{
    margin: 0 !important;
}
.slick-dots li.slick-active button:before{
    color: #013049 !important;
}
.banner-block svg{
    display: block;
    width: 28px;
    height: 28px
}
.blog-section{
    padding: 62px 0;
}
.points span{
    width: calc(100% - 40px);
    display: inline-block;
}
.mobile-details.mobile{
    display: none;
}
.details-accord details{
    border: unset;
    border-bottom: 1px solid #013049 !important;
}
.details-accord .description-block{
    margin-bottom: 24px;
}
.products-wrapper{
    overflow-x: auto;
}
.products-wrapper::-webkit-scrollbar{
    height: 0;
}
.products-wrapper .product-card:first-child{
    padding-left: 0 !important;
}
.products-wrapper .product-card:last-child{
    padding-right: 0 !important;
}
.blog-count{
    width: 48px;
    height: 48px;
    background-color: #2FAC8E;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
}
.fun-img .text-overlay{
    width: 100%;
    left: 0;
}
.feature-product-section{
    box-shadow: 2px 4px 24px 0px #0000003D;
}
.m-single-details .p-info{
    gap: 30px;
}
.oulined-input-wrapper{
    background-color: transparent !important;
    border-radius: 12px;
    border: 2px solid #fff;
    height: fit-content !important;
}
.oulined-input{
    background: transparent;
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    padding: 12px 0 !important;
}
.oulined-input span{
    background: transparent;
}
.oulined-input::placeholder{
    color: #fff;
    opacity: 0.8;
    font-weight: 300;
}
.cart-products-wrapper .p-border{
    position: relative;
}
.cart-products-wrapper .p-border::after{
    content: '';
    background-color: #b6b6b68c;
    height: 1px;
    width: calc(100% - 130px);
    bottom: -10px;
    right: 0;
    position: absolute;
}
.cart-products-wrapper .p-border:last-of-type:after{
    display: none;
}
.padding-0 {
    padding: 0 !important;
}
.progress-tabs{
    position: relative;
}
.progress-tabs::after{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 16px);
    height: 4px;
    right: 0;
    background-color: #CAE1D8;
    content: "";
    z-index: 0;
}
.progress-tabs button{
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 1399px){
    .menu-style{
        padding: 6px 10px;
    }
    .nav-items-wrapper{
        width: auto;
    }
}
@media only screen and (max-width: 1279px){
    .menu-style.pages{
        display: none;
    }
}
@media only screen and (max-width: 1199px){
    .top-head{
        display: none;
    }
    .savings-section .row{
        height: 500px;
    }
    .mobile-details{
        display: none;
    }
    .mobile-details.mobile{
        display: block;
        margin-bottom: 36px;
    }
    .mode-block{
        display: flex;
        align-items: center;
        gap: 24px;
    }
    .m-single-details{
        gap: 16px;
    }
}
@media only screen and (max-width: 975px){
    .savings-section .row{
        height: unset;
    }
    .savings-section .left-img{
        height: 620px !important;
    }
}
@media only screen and (max-width: 1024px){
    .remarketed-row{
        height: 420px;
    }
}
@media only screen and (max-width: 991px){
    .remarketed-row{
        height: unset;
    }
    .menu-style, .btn-search, .btn-account{
        display: none;
    }
    .last-category-col{
        margin-top: 30px !important;
    }
    .banner-small-img{
        top: 88px;
    }
    .visit-store-col{
        padding: 30px;
    }
    .visit-content{
        padding: 0 24px;
    }
    .visit-img{
        position: relative;
    }
    .visit-img::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 38%, rgba(1, 48, 73, 0.6162) 100%);
    }
    .remarketed-icon{
        position: absolute;
        top: 30%;
        left: 40px;
        width: 110px;
        height: auto;
    }
    .f-color{
        width: 32px;
        height: 32px;
    }
    .color-verity .color-des{
        font-size: 14px;
    }
    .all-color-block{
        display: flex;
    }
    .color-verity{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 16px;
    }
    .color-verity button{
        font-size: 14px !important;
    }
    .memory-btn, .memory-btn-boder{
        width: fit-content;
        height: fit-content;
        line-height: 24px !important;
    }
    .cart-btn, .notify-btn{
        font-size: 14px;
        width: 140px ;
        height: 48px;
        border-radius: 16px !important;
    }
    img.free-Iphone-img{
        height: 160px;
    }
    .height-img{
        height: 192px;
    }
    .blog-sidebar{
        display: none;
    }
    .blog-sidebar.small{
        display: block;
    }
    .m-single-details{
        justify-content: center;
    }
    .feature-product-section{
        box-shadow: unset;
    }
}
@media only screen and (max-width: 767px){
    .main-visit-store{
        padding: 50px 0;
    }
    .banner-small-img{
        top: 150px;
        left: 50%;
        position: absolute;
        transform: translateX(-35%);
        z-index: 0 !important;
        height: 176px;
    }
    .banner-small-img.about{
        top: 143px;
    }
    .remarketed-icon{
        width: 90px;
        top: 22%;
    }
    .refurbished-banner-img{
        width: 95px;
        height: auto;
    }
    .social-handling-section{
        padding-top: 44px;
        padding-bottom: 0;
    }
    .savings-section .left-img{
        height: 500px !important;
    }
    .savings-section{
        padding: 0 20px;
        padding-top: 35px;
    }
    .visit-store-section{
        padding: 0 20px;
        padding-top: 34px;
    }
    .blog-slider .slick-slide div.relative, .blog-slider .slick-slide img{
        height: 420px;
    }
    .blog-slider{
        height: 420px;
    }
    .text-overlay{
        width: 100%;
        left: 0;
        padding-bottom: 20px;
    }
    .blog-section{
        padding: 30px 20px;
        padding-bottom: 62px;
    }
    .bread-crumb-notactive{
        font-size: 14px;
    }
    .bread-crumb-isactive{
        display: none !important;
    }
    .mission-block .col-12:first-child{
        order: 2;
    }
    .mission-block .col-12{
        order: 1;
    }
    .mode-block{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
    .color-block{
        order: 2;
        margin-top: 26px;
    }
    .memory-block{
        order:1;
        margin-top: 26px;
    }
    .slider-wrapper{
        gap: 20px;
    }
    .slider-wrapper div:first-child{
        order: 2;
    }
    .slider-wrapper div:last-child{
        order: 1;
    }
    .slider-wrapper .slide-btn{
        flex-grow: unset !important;
        margin: 0 !important;
    }
    .slider-wrapper button.ring-inset{
        opacity: 0 !important;
        display: none !important;
    }
    .free-iphone{
        padding: 30px 0;
    }
    .blog-count{
        width: 38px;
        height: 38px;
    }
    .blog-images-block .blog-image{
        order: 1;
    }
    .blog-images-block .blog-text{
        order: 2;
    }
    .blog-img-margin{
        margin-top: 16px !important;
    }
    .visit-store.about .visit-text{
        order: 2;
    }
    .visit-store.about .visit-image{
        order: 1;
        margin-bottom: 20px !important;
    }
    .m-single-details{
        justify-content: space-between;
        gap: 8px;
        row-gap: 16px;
        align-items: flex-start;
    }
    .m-single-details .p-rating{
        width: 90px;
    }
    .m-single-details .p-info{
        width: calc(100% - 90px);
        flex-wrap: wrap;
        justify-content: flex-end;
        row-gap: 10px;
        column-gap: 8px;
    }
    .m-single-details .delivery-text{
        order: 3;
        width: 100%;
        text-align: right;
        padding-right: 68px;
    }
    .price-font{
        font-size: 16px !important;
    }
    .rating-color{
        width: 14px;
        height: 14px;
    }
}
@media only screen and (max-width: 575px){
    .remarketed-icon{
        top: 17%;
    }
    .refurbihed-banner{
        padding-bottom: 50px;
        position: relative;
    }
    .refurbihed-banner .banner-block button{
        position: absolute;
        bottom: -5px;
        left: 20px;
    }
    .social-handling-container{
        flex-direction: column;
        gap: 40px;
        padding: 0 10px;
    }
    .social-handling-container .social-handling-col{
        order: 2;
    }
    .social-handling-container .social-handling-col:last-of-type{
        order: 1;
    }
    .savings-section .left-img{
        height: 340px !important;
    }
    .blog-slider .slick-slide div.relative, .blog-slider .slick-slide img{
        height: 350px;
    }
    .blog-slider{
        height: 350px;
    }
    .condition-row{
        row-gap: 16px;
    }
    .condition-row div:nth-child(2){
        order: 3;
    }
    .condition-row div:last-child{
        order: 2;
    }
}
@media only screen and (max-width: 420px){
    .savings-section .left-img{
        height: 76vw !important;
    }

@media only screen and (max-width: 360px){
    .color-verity button{
        font-size: 10px !important;
    }
}
}
.blog-img-margin {
    margin-top: 32px !important;
}

.learn-more {
    border: 3px solid #013049;
}

.learn-more:hover {
    border: none;
}
.icon-btn{
    font-size: 18px;
    padding: 0 !important;
    border-radius: 50%;
    background-color: unset;
    border-width: 1px;
}
.price-font{
    font-size: 22px;
}